---
layout: page
title: Library Subject Specialists
---
Each discipline and department at City Tech has a subject specialist, a library faculty member who can collaborate with you on <a href="https://library.citytech.cuny.edu/services/faculty/teaching/instruction.php">research and information literacy</a> instruction, collection development and <a href="https://library.citytech.cuny.edu/oer/index.php">open educational resources</a>, accreditation and curriculum development, and more.

Visit our <a href="https://libguides.citytech.cuny.edu/">Research Guides</a> for discipline resources.

<ul>
{% for sub_hash in site.data.librarians.librarians %}
{% assign sub = sub_hash[1] %}
  <li>{{specialist.subject}} - {{sub.name}}</li>
{% endfor %}
</ul>

<table>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Librarian</th>
      </tr>
    </thead>
    <tbody>
      {% for person in site.data.librarians.librarians %}
      <tr><td>
          <a href="/subject-specializations/african-american-studies">African American Studies</a>        </td>
              <td>
          <a href="/about/faculty/wanett-clyde">Wanett Clyde</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/anthropology"> Anthropology</a>        </td>
              <td>
          <a href="/about/faculty/jen-hoyer">Jen Hoyer</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/architectural-technology">Architectural Technology</a>        </td>
              <td>
          <a href="/about/faculty/nora-almeida">Nora Almeida</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/art-history">Art History</a>        </td>
              <td>
          <a href="/about/faculty/monica-berger">Monica Berger</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/biological-sciences">Biological Sciences</a>        </td>
              <td>
          <a href="/about/faculty/cailean-cooney">Cailean Cooney</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/business-accountingmarketing">Business: Accounting/Marketing</a>        </td>
              <td>
          <a href="/about/faculty/keith-muchowski">Keith Muchowski</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/business-fashion">Business: Fashion</a>        </td>
              <td>
          <a href="/about/faculty/wanett-clyde">Wanett Clyde</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/career-and-technology-teacher-education">Career and Technology Teacher Education</a>        </td>
              <td>
          <a href="/about/faculty/cailean-cooney">Cailean Cooney</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/chemistry">Chemistry</a>        </td>
              <td>
          <a href="/about/faculty/kel-karpinski">Kel Karpinski</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/communication-design">Communication Design</a>        </td>
              <td>
          <a href="/about/faculty/monica-berger">Monica Berger</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/communications">Communications</a>        </td>
              <td>
          <a href="/about/faculty/morris-hounion">Morris Hounion</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/computer-engineering-technology">Computer Engineering Technology</a>        </td>
              <td>
          <a href="/about/faculty/junior-tidal">Junior Tidal</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/computer-systems-technology">Computer Systems Technology</a>        </td>
              <td>
          <a href="/about/faculty/junior-tidal">Junior Tidal</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/constructioncivil-engineering-technology">Construction/Civil Engineering Technology</a>        </td>
              <td>
          <a href="/about/faculty/anne-leonard">Anne Leonard</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/developmental-reading-and-writing"> Developmental Reading and Writing</a>        </td>
              <td>
          <a href="/about/faculty/nora-almeida">Nora Almeida</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/economics">Economics</a>        </td>
              <td>
          <a href="/about/faculty/keith-muchowski">Keith Muchowski</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/electricaltelecommunications-engineering-technology">Electrical/Telecommunications Engineering Technology</a>        </td>
              <td>
          <a href="/about/faculty/junior-tidal">Junior Tidal</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/english">English</a>        </td>
              <td>
          <a href="/about/faculty/anne-leonard">Anne Leonard</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/english-speakers-other-languages-esol-applied-linguistics">English to Speakers of Other Languages (ESOL) &amp; Applied Linguistics</a>        </td>
              <td>
          <a href="/about/faculty/nandi-prince">Nandi Prince </a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/entertainment-technology">Entertainment Technology</a>        </td>
              <td>
          <a href="/about/faculty/junior-tidal">Junior Tidal</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/environmental-control-technologyfacilities-management">Environmental Control Technology/Facilities Management</a>        </td>
              <td>
          <a href="/about/faculty/anne-leonard">Anne Leonard</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/fiction-poetry">Fiction &amp; Poetry</a>        </td>
              <td>
          <a href="/about/faculty/nora-almeida">Nora Almeida</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/gender-and-sexuality-studies">Gender and Sexuality Studies</a>        </td>
              <td>
          <a href="/about/faculty/kel-karpinski">Kel Karpinski</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/geography">Geography</a>        </td>
              <td>
          <a href="/about/faculty/anne-leonard">Anne Leonard</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/government-political-science">Government &amp; Political Science</a>        </td>
              <td>
          <a href="/about/faculty/keith-muchowski">Keith Muchowski</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/health-sciences">Health Sciences</a>        </td>
              <td>
          <a href="/about/faculty/cailean-cooney">Cailean Cooney</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/health-communications">Health Communications</a>        </td>
              <td>
          <a href="/about/faculty/jen-hoyer">Jen Hoyer</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/history">History</a>        </td>
              <td>
          <a href="/about/faculty/keith-muchowski">Keith Muchowski</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/hospitality-management">Hospitality Management</a>        </td>
              <td>
          <a href="/about/faculty/monica-berger">Monica Berger</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/human-services">Human Services</a>        </td>
              <td>
          <a href="/about/faculty/nora-almeida">Nora Almeida</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/latin-american-and-puerto-rican-studies">Latin American and Puerto Rican Studies</a>        </td>
              <td>
          <a href="/about/faculty/nandi-prince">Nandi Prince </a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/law-paralegal-studies">Law &amp; Paralegal Studies</a>        </td>
              <td>
          <a href="/about/faculty/jen-hoyer">Jen Hoyer</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/mathematics">Mathematics</a>        </td>
              <td>
          <a href="/about/faculty/nanette-johnson">Nanette Johnson</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/mechanical-engineering-technology">Mechanical Engineering Technology</a>        </td>
              <td>
          <a href="/about/faculty/junior-tidal">Junior Tidal</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/modern-languages">Modern Languages</a>        </td>
              <td>
          <a href="/about/faculty/nanette-johnson">Nanette Johnson</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/nursing">Nursing</a>        </td>
              <td>
          <a href="/about/faculty/nandi-prince">Nandi Prince </a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/performing-arts-theater-dance-music">Performing Arts (Theater, Dance &amp; Music) </a>        </td>
              <td>
          <a href="/about/faculty/nora-almeida">Nora Almeida</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/performing-arts-theater-dance-music">Performing Arts (Theater, Dance &amp; Music) </a>        </td>
              <td>
          <a href="/about/faculty/monica-berger">Monica Berger</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/philosophy">Philosophy</a>        </td>
              <td>
          <a href="/about/faculty/jen-hoyer">Jen Hoyer</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/physics">Physics</a>        </td>
              <td>
          <a href="/about/faculty/monica-berger">Monica Berger</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/psychology">Psychology</a>        </td>
              <td>
          <a href="/about/faculty/cailean-cooney">Cailean Cooney</a>        </td>
          </tr>
      <tr class="even">
              <td>
          <a href="/subject-specializations/radiologic-technology-medical-imaging"> Radiologic Technology &amp; Medical Imaging</a>        </td>
              <td>
          <a href="/about/faculty/jen-hoyer">Jen Hoyer</a>        </td>
          </tr>
      <tr class="odd">
              <td>
          <a href="/subject-specializations/sociology">Sociology</a>        </td>
              <td>
          <a href="/about/faculty/keith-muchowski">Keith Muchowski</a>        </td>
          </tr>
      <tr class="even views-row-last">
              <td>
          <a href="/subject-specializations/vision-care-technology">Vision Care Technology</a>        </td>
              <td>
          <a href="/about/faculty/morris-hounion">Morris Hounion</a>        </td>
          </tr>
    </tbody>
</table>
