<div class="alert alert-light" role="alert">
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ site.url }}">Home</a>
  </li>

  {%- for category in page.categories -%}
  {%-   assign crumb = site.data.breadcrumbs[category] -%}
  {%-   if crumb -%}
  <li class="breadcrumb-item">
    <a href="{{ crumb.url | prepend: site.url }}">
      {{ crumb.title }}
    </a>
  </li>
  {%-   endif -%}
  {%- endfor -%}

  
  <li class="breadcrumb-item active">
      {{ page.title }}
  </li>
</ol>
<div style="float:right">{{% include search-lunr.html %}</div>
</div>
