  <footer class="footer container">
  <div class="row">
    <div class="col-md-4">
      <h3><a style="text-decoration:underline;"  href="https://library.citytech.cuny.edu/about/faculty/directory.php">Contact</a></h3>
      <p>Ursula C. Schwerin Library<br> <a style="text-decoration:underline;"  href="http://www.citytech.cuny.edu" target="_blank">New York City College of Technology</a><br> of the <a style="text-decoration:underline;"  href="http://www.cuny.edu" target="_blank">City University of New York</a><br> <a style="text-decoration:underline;"  href="http://maps.apple.com/maps?q=300+Jay+Stret,+Brooklyn&amp;hl=en&amp;sll=40.696974,-73.987083&amp;sspn=0.047764,0.104713&amp;z=16" target="_blank">300 Jay Street, Brooklyn, NY 11201</a>
      <p> Circulation: <a style="text-decoration:underline;"  href="tel:7182605470">718.260.5470</a><br> Reference: <a style="text-decoration:underline;"  href="tel:7182605485">718.260.5485</a>
      <br>Voice Mail: <a style="text-decoration:underline;"  href="tel:7182605497">718.260.5497</p>
      <p><a style="text-decoration:underline;"  href="https://library.citytech.cuny.edu/comments.php">Comments</a><br>
      <a style="text-decoration:underline;"  href="https://library.citytech.cuny.edu/privacy.php">Privacy Policy</a><br>
      <a style="text-decoration:underline;"  href="https://library.citytech.cuny.edu/about/antioppression/landAck.php">Land Acknowledgement</a><br>
      <a style="text-decoration:underline;"  href="https://library.citytech.cuny.edu/imageCredits.php">Homepage Image Credits</a></p>
    </div>
    <div class="col-md-4">
      <h3><a style="text-decoration:underline;"  href="https://library.citytech.cuny.edu/help/ask/index.php">Ask A Librarian</a></h3>
      <p><span class="glyphicon glyphicon-envelope"></span><a style="text-decoration:underline;"  href="https://library.citytech.cuny.edu/help/ask/webForm.php"> Email A Librarian</p></a>
      <p><span class="glyphicon glyphicon-envelope"></span><a style="text-decoration:underline;"  href="mailto:NYCCTCirculation@citytech.cuny.edu"> Email the Borrow and Return Desk</a></p>
      <p><span class="glyphicon glyphicon-calendar"></span><a style="text-decoration:underline;"  href="https://library.citytech.cuny.edu/help/ask/appointments.php"> Schedule a Research Appointment</p></a>
     <p><span class="glyphicon glyphicon-book"></span><a style="text-decoration:underline;"  href="https://library.citytech.cuny.edu/services/student/request.php"> Book Ttitle Request</a></p>
    </div>
    <div class="col-md-4">
      <h3><a style="text-decoration:underline;"  href="http://www.citytech.cuny.edu/" target="_blank">City Tech</a></h3>
      <p>
      <a style="text-decoration:underline;"  href="http://www.citytech.cuny.edu/cunyfirst/" target="_blank">CUNYFirst</a><br>
      <a style="text-decoration:underline;"  href="https://bbhosted.cuny.edu/webapps/login/noportal" target="_blank">Blackboard</a><br>
      <a style="text-decoration:underline;"  href="http://outlook.com/mail.citytech.cuny.edu" target="_blank">Campus Email</a><br>
      <a style="text-decoration:underline;"  href="http://www.citytech.cuny.edu/itec/labs.aspx" target="_blank">City Tech Computer Labs</a><br>
      <a style="text-decoration:underline;"  href="https://openlab.citytech.cuny.edu/" target="_blank">City Tech Open Lab</a>
      </p>
    </div>
  </div>

    <h3>Follow Us:</h3>
          
      <span class="on-the-web otw-twitter">
        <a href="http://www.twitter.com/citytechlibrary" title="Find Ursula C. Schwerin Library on Twitter" rel="nofollow" target="_blank"><img typeof="foaf:Image" class="img-responsive" src="https://library.citytech.cuny.edu/sites/all/modules/on_the_web/images/sm/twitter.png" alt="Find Ursula C. Schwerin Library on Twitter" title="Find Ursula C. Schwerin Library on Twitter" /></a>
      </span>
      <span class="on-the-web otw-instagram">
        <a href="http://www.instagram.com/citytechlibrary" title="Find Ursula C. Schwerin Library on Instagram" rel="nofollow" target="_blank"><img typeof="foaf:Image" class="img-responsive" src="https://library.citytech.cuny.edu/sites/all/modules/on_the_web/images/sm/instagram.png" alt="Find Ursula C. Schwerin Library on Instagram" title="Find Ursula C. Schwerin Library on Instagram" /></a>
      </span>
      <span class="on-the-web otw-youtube"><a href="http://www.youtube.com/citytechlibrary" title="Find Ursula C. Schwerin Library on YouTube" rel="nofollow" target="_blank"><img typeof="foaf:Image" class="img-responsive" src="https://library.citytech.cuny.edu/sites/all/modules/on_the_web/images/sm/youtube.png" alt="Find Ursula C. Schwerin Library on YouTube" title="Find Ursula C. Schwerin Library on YouTube" /></a>
      </span>
      <span class="on-the-web otw-flickr"><a href="http://www.flickr.com/photos/24553081@N03/" title="Find Ursula C. Schwerin Library on Flickr" rel="nofollow" target="_blank"><img typeof="foaf:Image" class="img-responsive" src="https://library.citytech.cuny.edu/sites/all/modules/on_the_web/images/sm/flickr.png" alt="Find Ursula C. Schwerin Library on Flickr" title="Find Ursula C. Schwerin Library on Flickr" /></a>
      </span>
      <span class="on-the-web otw-soundcloud"><a href="https://soundcloud.com/citytechlibrary" title="Find Ursula C. Schwerin Library on Soundcloud" rel="nofollow" target="_blank"><img typeof="foaf:Image" class="img-responsive" src="https://library.citytech.cuny.edu/sites/all/modules/on_the_web/images/sm/soundcloud.png" alt="Find Ursula C. Schwerin Library on Soundcloud" title="Find Ursula C. Schwerin Library on Soundcloud" /></a>
      </span>
  </div>
</footer>
  <!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
