<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4"><img src="{{ site.url }}/assets/images/logo.png"></span>
      </a>
<ul class="nav nav-pills">
    {% for item in site.data.navbar %}
      <li><a class="nav-item nav-link" href="{{item.link}}">{{ item.name }}</a></li>
    {% endfor %}  
</ul>

</header>
