$primary: #89A55D;

navbar-custom {
  background-color: #044E95;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, system-ui;
}

main > div {
  height: 10rem;
  margin: 2rem;
  border: darkgrey 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: $primary;
  background-color: $secondary;
}

label{
  padding: 5px;
}

input{
  padding: 5px;
}

.card{
  margin: 5px;
  padding: 10px;
}

.embolden{
  font-weight:bold;
}

body {
  min-height: 75rem;
  padding-top: 7.5rem;
}

footer {
  background-color: ##D4D4D4;
  margin-top: 10px;
  padding-top: 10px;
}

.icon-space{
  margin-right: 5px;
}

.sideburns{padding: 0px 15px 0px 5px;}


    #lunrsearchresults {padding-top: 0.2rem;}
    .lunrsearchresult {padding-bottom: 1rem;}
    .lunrsearchresult .title {color: #d9230f;}
    .lunrsearchresult .url {color: silver;}
    .lunrsearchresult a {display: block; color: #777;}
    .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
    .lunrsearchresult a:hover .title {text-decoration: underline;}

