.pageTitle{
  margin-bottom: 10px;
}

.borderButton{
  border: 1px solid black;
}

p{
  margin: 5px;
  padding: 5px;
}

h1, h2, h3, h4{
  margin: 5px;
  padding: 5px;
}

label{
  padding: 5px;
}

input{
  padding: 5px;
}

.card{
  margin: 15px;
  padding: 0px;
}

.embolden{
  font-weight:bold;
}

body {
  min-height: 75rem;
  padding-top: 7.5rem;
}

footer {
  background-color: #eeeeee;
  margin-top: 10px;
  padding-top: 10px;
}

.icon-space{
  margin-right: 5px;
}

.sideburns{padding: 0px 15px 0px 5px;"}



.card-header{
  margin:0px; 
  padding:10px;
}
