<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4"><img src="{{ site.url }}/assets/images/logo.png"></span>
      </a>
  {% include nav.html %}
</header>
  <main>
    <div class="container fluid">
    <h1>{{ page.title }}</h1>
    {{ content }}
    </div>
  </main>
</body>
</html>
