{% include headerOrient.html %}
  <body class="align-items-center">
  <div class="container">
    <header>
      <h1 class="embolden text-center"><a href="{{site.url}}orientation/index.html">TUTORIALS & RESEARCH SUPPORT</a></h1>
    </header>
    <p class="embolden">{{page.title | upcase }}</p>
<table class="HunSpace">
  <tr><td>Welcome!</td></tr>
  <tr><td>Step 1: Asking Questions</td></tr>
  <tr><td>Step 2: Searching</td></tr>
  <tr><td>Step 3: Evaluating Sources</td></tr>
  <tr><td>Step 4: Academic Sources</td></tr>
  <tr><td>Step 5: Database Detectives</td></tr>
  <tr><td>Step 6: Finding Books</td></tr>
  <tr><td>Step 7: Citing Sources</td></tr>
  <tr><td>Step 8: Test your Knowledge</td></tr>
</table>
    <div class="text-center">
      {{content}}
    </div>
{% include footerOrient.html %}
