  {% include header.html %}
  <body>
  <div class="container">
    {% include nav.html %}
  </div>
    <main>
      <div class="container fluid">
        {% include breadcrumb.html %}
        <h1 class="pageTitle">{{ page.title }}</h1>
        <div class="col-sm-12 col-md-9 col-lg-3">
        {{ content }}
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
          {% include search-lunr.html %}
        </div>
      </div>
    </main>
  {% include footer.html %}
  </div>
  </body>
</html>
